scripts/03-delegations/protocol.json
scripts/03-delegations/tx.signed
scripts/03-delegations/tx.raw
scripts/01-pools/metadataPool4.json
scripts/01-pools/protocol.json
scripts/01-pools/tx.raw
scripts/01-pools/tx.signed
scripts/02-assets/77feb6148a0258982700975a05b90fb272a73e60e2b2167030413bee8943d602#1.values
.gitignore
scripts/02-assets/matx.signed
scripts/02-assets/txs.details
scripts/01-pools/2f6wwnnzywd8m30lufl6x5a83ntc5htf.json
